body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #000;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
}
p{
    letter-spacing: 0.03em;
    line-height: 1.55em;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700px;
    padding: 0;
    margin: 0;
}
.container{
    width: 1110px;
    margin: 0px auto;
    /* border: 2px red solid; */
}
.header{
    padding-top: 72px;
}
.logo{
    width: 52px;
    height: 48px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #000;
    text-decoration: none;
}