body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #000;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
}
*{
    box-sizing: border-box;
}
p{
    letter-spacing: 0.03em;
    line-height: 1.55em;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}
.container{
    width: 1110px;
    margin: 0px auto;
    /* border: 2px red solid; */
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.header{
    padding-top: 72px;
}
.logo{
    width: 52px;
    height: 48px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}
a{
    color: #000;
    text-decoration: none;
}
.offer{
    margin-bottom: 98px;
}
.place{
    font-style: 18px;
    margin-bottom: 21px;
}
.offer-title{
    font-style: 45px; 
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.desc{
    font-style: 18px;
    margin-top: 21px;
    margin-bottom: 21px;
}
.btn{
    color: #fff;
    background: #6a85e3;
    font-style: 18px;
    padding: 18px 30px;
    font-weight: 700px;
    display: block;
    width: 195px;
    text-align: center;
}
.btn:hover{
    background: #3859cf;
}
.intro{
    background: #eaeaea;
    padding: 30px;
    width: 441px;
}
.intro-title{
    font-weight: 700px;
    margin-bottom: 17px;
}

.bali-img{
    width: 500px;
    height: 600px;
}