body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}
.container{
    width: 1110px;
    margin: 0px auto;
    /* border: 2px red solid; */
}
.logo{
    width: 52px;
    height: 48px;
}